<header>
  <!-- Navbar
    ================================================== -->
  <div class="cbp-af-header">
    <div class=" cbp-af-inner">
      <div class="">
        <div class="row">
          <!-- <div class="span2" style="color: #fff; font-size: 17px;
    line-height: normal;">
            <a href="/">AlL JAHAN AL ABYAD TECH.CONT.</a>
          </div> -->
          <div class="span6">
          <div class="span1">
            <!-- logo -->

            <div class="logo">
              <!-- <h1><a href="index.html">AlL JAHAN AL ABYAD TECH.CONT.</a></h1> -->
              <a href="/"><img src="
                <%=asset_path('logo.png')%>" alt="logo" height="75" width="75" /></a>
            </div>
              <!-- end logo -->
            </div>
            
            <!-- <div class="span11"> -->
              <!-- top menu -->
              <h4><a href="/">AlL JAHAN AL ABYAD TECHNICAL.CONT.</a></h4>
              </div>
              <div class="span9 na1">
              <div class="navbar">
                <div class="navbar-inner">
                  <nav>
                    <ul class="nav topnav">
                      <li class="dropdown active">
                        <a href="/">Home</a>
                      </li>
                      <li class="dropdown">
                        <a href="<%=web_developments_path%>">Website Development
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="<%=dynamic_website_web_developments_path%>">Dynamic Solutions
                            </a>
                          </li>
                          <li>
                            <a href="<%=e_commerce_web_developments_path%>">E-Commerce Solutions
                            </a>
                          </li>
                          <li>
                            <a href="<%=credit_card_pro_web_developments_path%>">Credit Card processing
                            </a>
                          </li>
                          <li>
                            <a href="<%=content_mgt_web_developments_path%>">Content management
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="<%=creative_services_path%>">Creative Services
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="<%=graphic_design_creative_services_path%>" title="Graphic Design">Graphic Design
                            </a>
                          </li>
                          <li>
                            <a href="<%=brand_development_creative_services_path%>" title="Brand Development">Brand Development
                            </a>
                          </li>
                          <li>
                            <a href="<%=print_design_creative_services_path%>" title="Print Design">Print Design
                            </a>
                          </li>
                          <li>
                            <a href="<%=photography_creative_services_path%>" title="Illustration / Photography">Illustration / Photography
                            </a>
                          </li>
                          <li>
                            <a href="<%=graphic_design_creative_services_path%>" title="Flash Design / Video Production">Flash Design / Video Production
                            </a>
                          </li>
                          <li>
                            <a href="<%=sign_design_creative_services_path%>" title="Sign Design">Sign Design
                            </a>
                          </li>
                          <li>
                            <a href="<%=targeted_marketing_creative_services_path%>" title="Targeted Marketing">Targeted Marketing
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="<%=it_solutions_path%>">IT Solutions
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="<%=rsupport_it_solutions_path%>" title="Remote Tech Support">Remote Tech Support
                            </a>
                          </li>
                          <li>
                            <a href="<%=system_admin_it_solutions_path%>" title="System Administration">System Administration
                            </a>
                          </li>
                          <li>
                            <a href="<%=infrastructure_it_solutions_path%>" title="Infrastructure Consulting">Infrastructure Consulting
                            </a>
                          </li>
                          <li>
                            <a href="<%=security_virus_it_solutions_path%>" title="Security / Virus Protection">Security / Virus Protection
                            </a>
                          </li>
                          <li>
                            <a href="<%=telecom_it_solutions_path%>" title="Telecom">Telecom
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="<%=web_hostings_path%>">Web Hosting
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="<%=statistics_web_hostings_path%>" title="Website Statistics">Website Statistics
                            </a>
                          </li>
                          <li>
                            <a href="<%=hosting_web_hostings_path%>" title="Email Hosting">Email Hosting
                            </a>
                          </li>
                          <li>
                            <a href="<%=virus_filtering_web_hostings_path%>" title="Virus and Spam Filtering">Virus and Spam Filtering
                            </a>
                          </li>
                          <li>
                            <a href="<%=virtualization_web_hostings_path%>" title="Virtualization">Virtualization
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="<%=contact_contacts_path%>">Contact
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              <!-- </div> -->
              <!-- end menu -->
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script type="text/javascript">
    $( document ).ready(function() {
    $('ul.nav li.dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
      }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
      });

     });
    
  </script>
  
<!-- <style type="text/css">
  .span8 h4 a {
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 2px;
}
  .span8 h4 a:hover{
      text-decoration: none;
  }
.span8 .span2{

    width: 100px !important;
}
.na1{
  float: right;
}
</style> -->