<!DOCTYPE html>
<html>
  <head>
    <title>AljanaH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="description" content="AlL JAHAN AL ABYAD TECH.CONT, ail janah al abyad tech.cont., AL JANAH AL ABYAD TECHNICAL CONTRACTOR,AL JANAH AL ABYAD TECHNICAL CONTRACTOR">
  <meta name="keywords" content="AlL JAHAN AL ABYAD TECH.CONT, ail janah al abyad tech.cont.,AL JANAH AL ABYAD TECHNICAL CONTRACTOR,AL JANAH AL ABYAD TECHNICAL CONTRACTOR">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

 

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="<%=asset_path('fevicon.jpg')%>">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%=render "layouts/header"%>
    <%= yield %>
    <%=render "layouts/footer"%>
  </body>
  
</html>

